[Unit]
Description=SOCAT Forwarder WireGuard UDP
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=socat -D UDP-LISTEN:51820,fork,reuseaddr UDP:10.0.0.2:51820

[Install]
WantedBy=multi-user.target